{% extends 'base_page.html' %}
{% load static %}

{% block title %} 
Портфолио | Petyal
{% endblock title %} 

{% block container %}
<!-- Заголовок-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Аватарка-->
        <img class="masthead-avatar mb-5" src="{% static 'portfolio/avataaars.svg'%}" alt="..." />
        <!-- Текст-->
        <h1 class="masthead-heading text-uppercase mb-0">Привет, меня зовут Пётр!</h1>
        <!-- Звездочка-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Текст 2-->
        <p class="masthead-subheading font-weight-light mb-0">Python back-end разработчик</p>
    </div>
</header>
<!-- Работы-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Заголовок-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Мои работы</h2>
        <!-- Звездочка-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center text-center">
            <!-- Загрузка проектов-->
            {% for project in projects %}
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">

                    <a href="{% url 'detail' project.id %}"><img class="img-fluid" src="{{ project.header_image.url }}" alt="..." /></a>
                    <div class="my-3">
                        <a href="{% url 'detail' project.id %}"><h4 class="card-title">{{ project.header }}</h4></a>
                    </div> 
                </div>
            </div>
            {% endfor %}     
    </div>
</section>
<!-- Обо мне-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- Заголовок-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Обо мне</h2>
        <!-- Звездочка-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Текст-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Я – начинающий Python-разработчик. В данный момент активно изучаю FastAPI и Django. Умею работать с разными СУБД - MongoDB, HarperDB, PostgreSQL, MS Access. Для построения архитектуры веб-приложения пользовался Redis и Celery. Также занимался написанием телеграм ботов при помощи Aiogram и PyTelegramBotAPI. Помимо этого имею начальные знания о компьютерных сетях и информационной безопасности.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">·Закончил второй курс информационной безопасности в Донском государственном техническом университете<br>·Принимал участие в 3 Хакатонах | Ростов-на-Дону<br>·Имею опыт создания коммерческих проектов (фриланс)</p></div>
        </div>
    </div>
</section>
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Связаться со мной</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="container px-4 px-lg-5 text-center">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-secondary mr-3" href="https://t.me/petyal"><i class="fa-brands fa-telegram fa-6x"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-secondary mr-3" href="https://github.com/Petyall"><i class="fa-brands fa-github fa-6x"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-secondary" href="https://vk.com/id_petyal"><i class="fa-brands fa-vk fa-6x"></i></a>
                </li>
            </ul>
        </div>
</section>
{% endblock container %}
